---
// Any JS written here in the Forntmatter will be rendered server side
import MainLayout from '../layouts/MainLayout.astro';
import Button from '../components/Button';
import Playlist from '../components/Playlist';
---

<MainLayout title="Home" >
	<h2>Hello <span>Friends</span> </h2>
	<p id="paragraph"></p>
	<!-- the button is a React component, but the JS isn't loaded by default, so it needs client:load for interactivity -->
	<Button client:load/>
	
	<h2>YouTube Playlist</h2>
	<Playlist client:load/>
</MainLayout>

<style is:global lang="scss">
	h2 {
		color: teal;
		span {
			color: red
		}
	}
</style>

<!-- Any JS written in <script> tags is going to be rendered on the client side (browser) -->
<script>
	const p = document.querySelector('#paragraph');
	p.textContent = "This is added with JavaScript client side."
</script>