---
import MainLayout from '../layouts/MainLayout.astro';
import Search from '../components/Search';
---

<MainLayout title="About">
	<h2>Search Page</h2>	
	<Search client:load/>
</MainLayout>

<script>
	
</script>